<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="main.js"></script>
<title>h</title>
</head>
<body>
<p id="time"></p>
<p id="platform"></p>
</body>
</html>
